{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block titlename%}Change Password{% endblock titlename%}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area" style="background-image: url('{% static 'img/banner/notes.jpeg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{% trans "Change Password" %}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="m-5">
    <div class="container card text-center p-4 col-5">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
</div>
{% endblock content %}
