{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block titlename%}Change Password{% endblock titlename%}

{% block content %}
    <!-- bradcam_area  -->
<div class="bradcam_area" style="background-image: url('{% static 'img/banner/notes.jpeg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{% trans "Change Password" %}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="m-5">
    <div class="container card text-center p-4 col-5">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="boxed-btn3 wow" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
</div>
{% endblock content %}
