{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block titlename%}Change Password{% endblock titlename%}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area" style="background-image: url('{% static 'img/banner/notes.jpeg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{% trans "Sign In" %}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
<div class="m-5">
<div class="container card text-center p-4 col-5">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="boxed-btn3 wow" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}
