{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block titlename%}Password Reset{% endblock titlename%}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area" style="background-image: url('{% static 'img/banner/notes.jpeg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{% trans "Password Reset" %}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="m-5">
    <div class="container card text-center p-4 col-5">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <a href="/" class="ml-1 boxed-btn3 wow">Go Back to Home</a>
</div>
</div>
{% endblock %}
