{% extends 'base.html' %}
{% load static %}

    {% block title %}
    <title>{{faculty.name}} Faculty</title>
    {% endblock title %}
    
    {% block content %}
    <div class="bradcam_area" style="background-image: url({{faculty.facultycoverimg.url}});">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3 style="font-weight: bold;">Faculty of {{faculty.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="portfolio_image_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Select Your Department</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="portfolio_thumb">
                            <img src="{% static 'img/portfolio/chem2.jpg' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                    <h3 style="color: grey;">CHEMISTRY</h3>
                                    <p style="color: rgb(44, 44, 44);">Visit Your Department</p>
                                    <a class="boxed-btn3" href="chem.html">Visit Department</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="portfolio_thumb">
                            <img src="{% static 'img/portfolio/csd3.jpg' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                    <h3 style="color: grey;">COMPUTER SCIENCE</h3>
                                    <p style="color: rgb(44, 44, 44);">Visit Your Department</p>
                                    <a class="boxed-btn3" href="csd.html">Visit Department</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                {% for item in departments %}
                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="portfolio_thumb">
                            <img src="{{item.img.url}}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                    <h3 style="color: grey;">{{item.name}}</h3>
                                    <p style="color: rgb(43, 43, 43);">Visit Your Department</p>
                                    <a class="boxed-btn3" href="{{item.get_absolute_url}}">Visit Department</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="testimonial_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/testmonial/quote.svg' %}" alt="">
                                        </div>
                                        <p >We(Hindus and Muslisms) eat same crop,drink same water from the same river and 
                                            breathe the same air. As a matter of fact Hindus and Muslims are the two eyes of 
                                            the beautiful bride that is Hindustan.Weakness of any of them will spoil the beauty 
                                            of the bride</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/testmonial/thumb.png' %}" alt="">
                                            </div>
                                            <h3>Sir Syed Ahmad Khan</h3>
                                            <span>Founder Aligarh Muslim University</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/testmonial/quote.svg' %}" alt="">
                                        </div>
                                        <p>What we are not ashamed to do before God,<br>
                                            We should not fear to do before our fellowmen</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/testmonial/thumb.png' %}" alt="">
                                            </div>
                                            <h3>Sir Syed Ahmad Khan</h3>
                                            <span>Founder Aligarh Muslim University</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/testmonial/quote.svg' %}" alt="">
                                        </div>
                                        <p> Nothing is more disgraceful for any nation than to throw into oblivion it's historical heritage and the works of it's ancestors.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/testmonial/thumb.png' %}" alt="">
                                            </div>
                                            <h3>Sir Syed Ahmad Khan</h3>
                                            <span>Founder Aligarh Muslim University</span>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="get_in_tauch_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Help us to expand more</h3>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">At this moment we're limited by the accessiblity to study materials of different courses. And thus we're asking you to help us by giving your suggestions and providing study materials of your respective courses. Send your content or contact us on our mail account.</p>
                        <br>
                        <a class="boxed-btn3 wow fadeInLeft"  data-wow-duration="1s" data-wow-delay=".2s" href="contact.html">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}